<?xml version="1.0"?>
<nlog autoReload="true" internalLogLevel="Fatal" internalLogFile="C:\nlog\nlog-owin-identity.log" throwExceptions="true">
  <targets>
    <target name="file" type="File" layout="${longdate} ${logger} ${message}" fileName="${basedir}/logs/${shortdate}.log" />
    <!-- Target to a local port -->
    <!--<target name="viewer" type="NLogViewer" address="udp://127.0.0.1:9999" layout="${longdate} ${message} ${exception:format=tostring}" />-->
    <target name="TcpOutlet" type="Chainsaw" address="tcp4://localhost:4505" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="TcpOutlet,file" />
  </rules>
</nlog>